version: '2.2'
services:
  logstash_pflogs:
    image: logstash:7.3.0
    command: logstash -f /etc/logstash/conf.d
    volumes:
      - ./logstash:/etc/logstash:ro
    links:
      - elasticsearch
    ports:
      - 5140:5140